# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Local database files
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.cloud.example
lib/db/migrations/
.vercel
.env*.local
